<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Document</title>
</head>
<body>
	<h1>List of restaurants</h1>
	<ul>
		<% for(var i = 0; i < restaurants.length; i++){ %>
			<li><%= restaurants[i].venue.name %> has <%= restaurants[i].venue.stats.checkinsCount %> checkins up to date.</li>
		<% } %>
	</ul>
</body>
</html>